#!/bin/bash

LOG_FILE="/var/log/test.log"

mkdir -p "$(dirname "$LOG_FILE")"

generate_logs() {
    local log_count=2000
    
    for ((i=1; i<=log_count; i++)); do
        echo "This is log number $i" >> "$LOG_FILE"
    done
}

while true; do
    generate_logs
    sleep 1
done

